.counter
{
    background-color: crimson;
    color:white;
    width: 40%;
    height: 100px;
    padding: 50px;
    margin: 50px auto;
}

.div-btn
{
    margin: 20px auto;
}
button
{
    background-color: royalblue;
    padding: 5px 10px;
    border:snow solid blue;
    border-radius:8px;
    margin-left: 10px;
    color:white;
    font-size: 20px;
}